body {
  margin: 0;
}

body * {
  box-sizing: border-box;
}

.main-login {
  align-items: center;
  background: rgb(219, 84, 84);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.left-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 50vw;
}

.card-descrition > h1 {
  color: white;
  font-size: 3vw;
}

.img-login {
  width: 35vw;
}

.card-descrition {
  width: 60%;
}

.right-login {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 50vw;
}

.card-login {
  align-items: center;
  background: rgb(223, 75, 75);
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.247);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px, 35px;
  width: 60%;
}

.textfield {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  margin: 10px 0;
  width: 100%;
}

.textfield > input {
  background: rgb(243, 97, 97);
  border-radius: 10px;
  border: none;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.247);
  box-sizing: border-box;
  color: white;
  font-size: 12pt;
  outline: none;
  padding: 15px;
  width: 90%;
}

.login-bnt-off {
  background: rgba(255, 254, 254, 0.534);
  cursor: default;
}

.login-bnt-on {
  background: rgb(255, 255, 255);
  cursor: pointer;
}

.login-bnt {
  border-radius: 8px;
  border: none;
  box-shadow: 0 10px 40px -12px rgba(255, 255, 255, 0.247);
  color: rgb(221, 78, 78);
  font-weight: 800;
  letter-spacing: 3px;
  margin: 25px;
  outline: none;
  padding: 16px 0;
  text-transform: uppercase;
  width: 90%;
}

@media only screen and (max-width: 950px) {
  .card-login {
    width: 85%;
  }
}

@media only screen and (max-width: 640px) {
  .main-login {
    flex-direction: column;
  }

  .card-descrition > h1 {
    display: none;
  }

  .left-login {
    height: auto;
    margin-bottom: 20px;
    margin-top: -40px;
    width: 100%;
  }

  .right-login {
    height: auto;
    width: 100%;
  }

  .img-login {
    width: 60vw;
  }
}

.login-doubt {
  border-radius: 30px;
  background-color: aqua;
  margin: 0px 0px 0px 10px;
  padding: 3px;
  font-size: 13px;
  cursor: pointer;
}

.login-doubt-text {
  background-color: antiquewhite;
  color: #000000;
  width: 250px;
  border-radius: 30px;
  padding: 15px;
  position: absolute;
  margin-bottom: 200px;
}

.popup {
  position: absolute;
  height: 250px;
  padding: 50px;
}

.popup h3 {
  color: aliceblue;
  text-align: center;
  font-size: 20px;
}
