body {
  background: rgb(219, 84, 84);
}

.choice-cards-single-childen img {
  display: grid;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.choice-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  justify-content: space-evenly;

  width: 100vw;
  height: 100vh;
}

.choice-cards-single {
  cursor: pointer;
  width: 20%;
  background: #fff;
  border: 1px solid #ccc;
  transition: 0.3s;
  border-radius: 15px 15px 15px 15px;
}

.choice-cards-single-childen {
  padding: 30px 20px;
  font-size: 18px;
}

.choice-cards-single-childen span {
  display: block;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  padding: 10px 5px;
  border-radius: 0px 0px 15px 15px;
}

.choice-cards-single:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 1000px) {
  .choice-cards-single {
    width: 40%;
  }
}

@media screen and (max-width: 500px) {
  .choice-cards-single {
    width: 45%;
    margin: 0px;
  }

  .choice-cards-single-childen {
    padding: 10px 8px;
  }

  .choice-cards-down {
    margin-top: -100px;
  }
}
