body {
  background: rgb(219, 84, 84);
}

.btn-tamanho {
  width: 215px;
  height: 40px;
}

.main-food-card {
  margin-bottom: 55px;
}

.choice-cards-single-childen img {
  display: grid;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.choice-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  justify-content: space-evenly;

  width: 100vw;
  height: 100vh;
}

.choice-cards-single {
  cursor: pointer;
  width: 20%;
  background: #fff;
  border: 1px solid #ccc;
  margin: 20px;
  transition: 0.3s;
  border-radius: 15px 15px 15px 15px;
}

.choice-cards-single-childen {
  padding: 30px 20px;
  text-align: center;
  font-size: 18px;
}

.choice-cards-single-childen span {
  display: block;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  text-decoration: none;
  padding: 10px 5px;
  border-radius: 0px 0px 15px 15px;
}

.choice-cards-single:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px) {
  .choice-cards-single {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .choice-cards-single {
    width: 80%;
  }
}

/* ---- PopUp ---- */

.choice-popup {
  align-items: center;
  background: rgb(223, 75, 75);
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.247);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  width: 30%;
}

.choice-popup img {
  margin: 10px;
  width: 80%;
}

.choice-popup-btn {
  background: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 8px;
  border: none;
  box-shadow: 0 10px 40px -12px rgba(255, 255, 255, 0.247);
  color: rgb(221, 78, 78);
  font-weight: 800;
  letter-spacing: 3px;
  margin-bottom: 5px;
  outline: none;
  padding: 16px 0;
  text-transform: uppercase;
  width: 90%;
}

@media only screen and (max-width: 640px) {
  .choice-popup {
    width: 80%;
  }
}
